useDynLib(SUITOR, .registration = TRUE)
import(stats)
import(utils)
import(graphics)
import(doParallel)
import(foreach)
import(parallel)
import(ggplot2)
export(suitor)
export(suitorExtractWH)
export(getSummary)
export(plotErrors)