useDynLib(SUITOR, .registration = TRUE)
import(stats)
import(utils)
importFrom("graphics", "legend", "plot", "points", "abline", "axis", "box")
import(doParallel)
import(foreach)
import(parallel)
import(ggplot2)
export(suitor, getSummary, plotErrors, suitor_extract_WH)
